@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
	background-color: white;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 300;
}
button {
	background-color: white;
	border: 1px solid #4370ff;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 2px 2px 2px #4370ff;
	font-family: inherit;
	height: 30px;
	margin: 3px;
	transition-duration: 0.3s;
	width: 100px;
}
button:hover {
	background-color: #4370ff;
	color: white;
}
button:focus {
	background-color: #4370ff;
	border: 0px;
	color: white;
	outline: 0px;
}