@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
	background-color: white;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 300;
}
.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 100px 1fr 1fr 1fr;
}
.button-color {
	grid-column: span 1;
	margin: 5px;
}
.button-select-department {
	grid-column: span 2;
	margin: 5px;
}
.button-link {
	margin: 5px;
}
button {
	background-color: white;
	border: 1px solid #4370ff;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 2px 2px 2px #4370ff;
	font-family: inherit;
	height: 30px;
	margin: 3px;
	transition-duration: 0.3s;
	width: 100px;
}
button:hover {
	background-color: #4370ff;
	color: white;
}
button:focus {
	background-color: #4370ff;
	border: 0px;
	color: white;
	outline: 0px;
}
select{
	background-color: white;
	border: 1px solid #4370ff;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 2px 2px 2px #4370ff;
	font-family: inherit;
	height: 30px;
	margin: 3px;
	width: 200px;
}
select:focus {
	background-color: white;
	border: 1px solid #4370ff;
}