@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
	background-color: white;
	font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
	word-break: keep-all;
}
.main-container {
	display: grid;
	grid-template-columns: 100px 100px 100px;
	grid-template-rows: 50px 100px 100px 100px 50px 30px;
}
.header {
	grid-column: span 3;
}
.header > div {
	border: 1px solid #4370ff;
	border-radius: 3px 3px 3px 3px;
	height: 30px;
	margin-bottom: 9px;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 9px;
	width: 292px;
}
.header > div > input {
	background-color: inherit;
	border: 0px;
	float: left;
	font-family: inherit;
	font-size: 12px;
	font-weight: 500;
	height: 100%;
	margin: 0px;
	outline: none;
	padding-bottom: 0px;
	padding-left: 2px;
	padding-right: 0px;
	padding-top: 0px;
	width: 242px;
}
.header > div > button {
	background-color: #4370ff;
	border: 0px;
	color: #ffffff;
	cursor: pointer;
	float: right;
	font-family: inherit;
	font-size: 14px;
	font-weight: 700;
	height: 100%;
	outline: none;
	transition-duration: 0.3s;
	width: 48px;
}
.header > div > button:hover {
	background-color: inherit;
	border-left: 1px solid #4370ff;
	color: #000000;
}
.item-link {
	border-radius: 10%;
	box-shadow: 3px 3px 3px #D2D2D2;
	margin: 5px;
	text-align: center;
}
.item-link:hover {
	border: 2px solid #4370ff;
}
.item-link > a {
	color: black;
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none !important;
}
.item-link > a > img {
	height: 50px;
	margin-top: 10px;
	width: 50px;
}
.item-link > a > p {
	font-family: inherit;
	font-size: 12px;
	margin: 5px;
}
.item-schedule {
	border: 1px solid #4370ff;
	border-radius: 5px 5px 5px 5px;
	font-family: inherit;
	font-size: 12px;
	grid-column: span 3;
	margin: 4px;
	text-align: center;
}
.item-schedule > a {
	color: black;
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none !important;
}
.sub-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	height: 100%;
	width: 100%;
}
.item-date {
	border-right: 1px dashed #4370ff;
	grid-column: span 1;
}
.item-date > p {
	margin-bottom: 12px;
	margin-top: 11px;
}
.item-content {
	border-left: 1px dashed #4370ff;
	grid-column: span 2;
	vertical-align: middle;
}
.item-content > p {
	margin-bottom: 12px;
	margin-top: 11px;
}
.footer {
	color: gray;
	font-family: inherit;
	font-size: 10px;
	font-weight: 100;
	grid-column: span 3;
	padding: 1px;
	text-align: center;
}
.footer > div > a {
	color: gray;
	text-decoration: none !important;
}